<section id="blog" class="bgWhite ofsInBottom">
    <!--Blog -->
    <div class="blog">
        <!--Main title-->
        <div class="main-title">
            <h1>latest news</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                        </svg>
                </div>
            </div>
        </div>
        <!--End main title-->

        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">
                <!--Works-->
                <div class="blog">
                    <!--Row-->
                    <div class="row">
                        <!--Blog posts-->
                        <div class="block-posts ">
                            <!--Block post-->
                            <div class="block-post ">
                                <div class="col-md-12">
                                    <div class="post-media margBSmall">
                                        <img src="img/blog/1.jpg" alt=""/>
                                    </div>
                                    <div class="post-title">
                                        <a href="blog_single.html">
                                            <h1>Which design layout solution should you use ?</h1>
                                        </a>
                                        <span class="meta-date">23 Sep</span>
                                    </div>
                                    <ul class="post-meta">
                                        <li>
                                            <i class="icon-user"></i>
                                                                    <span>Post by
                                                                        <a href="#">Benaissa Ghrib</a>
                                                                    </span>
                                        </li>
                                        <li>
                                            <i class="icon-layout"></i>
                                                                    <span>Tagged in
                                                                        <a href="#">Web Design</a>
                                                                    </span>
                                        </li>

                                        <li>
                                            <i class="icon-comment"></i>
                                                                        <span>Comments
                                                                            <a href="#">(2)</a>
                                                                        </span>
                                        </li>

                                    </ul>

                                    <hr>

                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                        accusantium doloremque
                                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi
                                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                        voluptatem quia voluptas sit
                                        aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem
                                        sequi nesciunt. </p>


                                    <a href="blog_single.html" class="but brd">Read More</a>

                                </div>


                                <div class="clearfix"></div>


                                <!--Divider-->
                                <div class="divider-m tCenter margTSmall margBottom clearfix">
                                    <div class="col-md-12">
                                        <div class="zigzag medium clearfix " data-svg-drawing="yes">
                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                        </svg>
                                        </div>
                                    </div>
                                </div>
                                <!--End divider-->


                            </div>
                            <!--End block post-->


                            <!--Block post-->
                            <div class="block-post">
                                <div class="col-md-12">

                                    <div class="post-title">
                                        <a href="blog_single.html">
                                            <h1>Standar blog post without image</h1>
                                        </a>
                                        <span class="meta-date">23 Sep</span>
                                    </div>


                                    <ul class="post-meta">
                                        <li>
                                            <i class="icon-user"></i>
                                                                    <span>Post by
                                                                        <a href="#">Benaissa Ghrib</a>
                                                                    </span>
                                        </li>
                                        <li>
                                            <i class="icon-layout"></i>
                                                                    <span>Tagged in
                                                                        <a href="#">Web Design</a>
                                                                    </span>
                                        </li>

                                        <li>
                                            <i class="icon-comment"></i>
                                                                        <span>Comments
                                                                            <a href="#">(2)</a>
                                                                        </span>
                                        </li>

                                    </ul>

                                    <hr>

                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                        accusantium doloremque
                                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi
                                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                        voluptatem quia voluptas sit
                                        aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem
                                        sequi nesciunt. </p>


                                    <a href="blog_single.html" class="but brd">Read More</a>

                                </div>


                                <div class="clearfix"></div>

                                <!--Divider-->
                                <div class="divider-m tCenter margTSmall margBottom clearfix">
                                    <div class="col-md-12">
                                        <div class="zigzag medium clearfix " data-svg-drawing="yes">
                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                        </svg>
                                        </div>
                                    </div>
                                </div>
                                <!--End divider-->


                            </div>
                            <!--End block post-->


                            <!--Block post-->
                            <div class="block-post ">
                                <div class="col-md-12">

                                    <div class="post-title">
                                        <a href="blog_single.html">
                                            <h1>A blockquote blog post style</h1>
                                        </a>
                                        <span class="meta-date">23 Sep</span>
                                    </div>


                                    <ul class="post-meta">
                                        <li>
                                            <i class="icon-user"></i>
                                                                <span>Post by
                                                                    <a href="#">Benaissa Ghrib</a>
                                                                </span>
                                        </li>
                                        <li>
                                            <i class="icon-layout"></i>
                                                                <span>Tagged in
                                                                    <a href="#">Web Design</a>
                                                                </span>
                                        </li>

                                        <li>
                                            <i class="icon-comment"></i>
                                                                    <span>Comments
                                                                        <a href="#">(2)</a>
                                                                    </span>
                                        </li>

                                    </ul>

                                    <hr>

                                    <div class="block-quote margTMedium">
                                        <div class="block-img"><img src="img/testimonial/1.jpg" alt="">
                                        </div>
                                        <div class="block-icon"><i class="icon-quote"></i></div>
                                        <h3 class="block-profile">Carlose Smith<span> CEO / The Third Inc</span>
                                        </h3>
                                        <blockquote>Sed ut perspiciatis unde omnis iste natus error sit
                                            voluptatem accusantium doloremque laudantium,
                                            totam rem aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi architecto beatae vitae dicta.
                                        </blockquote>

                                    </div>


                                </div>


                                <div class="clearfix"></div>

                                <!--Divider-->
                                <div class="divider-m tCenter margTSmall margBottom clearfix">
                                    <div class="col-md-12">
                                        <div class="zigzag medium clearfix " data-svg-drawing="yes">
                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                    </svg>
                                        </div>
                                    </div>
                                </div>
                                <!--End divider-->


                            </div>
                            <!--End block post-->


                        </div>
                        <!--End blog posts-->


                    </div>
                    <!--End row-->


                    <div class="block-all tCenter margTSmall margBSmall">
                        <a class="but  brd" href="blog.html">View all blog posts</a>
                    </div>


                </div>
                <!--End blog-->

            </div>
            <!--End block content-->


        </div>
        <!--End content-->


        <!--Button-->
        <div class="button ofsInTop tCenter">

            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                    </svg>
                </div>
            </div>


            <!--Row-->
            <div class="row ">


                <div class="col-md-12">
                    <a class="but opc-1 ico" href="#">Download my cv</a>
                    <a class="but opc-2 ico" href="#">Print my resume</a>

                </div>


            </div>
            <!--End row-->


        </div>
        <!--End button-->


    </div>
    <!--End blog-->

</section>
