<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>Piotr Strugacz Agile Web Developer {{ content.title ? ' - '~content.title : '' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}
    {% stylesheets
        'bundles/clientwebsite/bootstrap/css/bootstrap.css'
        'bundles/clientwebsite/assets/css/owl-carousel/owl.carousel.css'
        'bundles/clientwebsite/assets/css/owl-carousel/owl.theme.css'
        'bundles/clientwebsite/assets/css/css/magnific-popup.css'
        'bundles/clientwebsite/assets/css/font.css'
        'bundles/clientwebsite/assets/css/fontello.css'
        'bundles/clientwebsite/assets/css/base.css'
        'bundles/clientwebsite/assets/css/main.css'
        filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- Google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-73447236-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End google analytics -->
</head>
<body>
    <!-- Preloader -->
    <div id="loader">
        <!-- Preloader inner -->
        <div id="loaderInner">
            <div class="spinner"></div>
        </div>
        <!-- End preloader inner -->
    </div>
    <!-- End preloader-->
    <!--Wrapper-->
    <div id="wrapper" class="margLTop  margLBottom">
        <!--Container-->
        <div class="container">
            <div class="row ">
                <!--Left content-->
                <div class="col-md-3 nopr left-content">
                    <!--Header-->
                    <header id="header">
                        <!--Main header-->
                        <div class="main-header">
                            <!--Profile image-->
                            <figure class="img-profile">
                                <img src="{{ asset('bundles/clientwebsite/assets/img/profile.jpg') }}" alt=""/>
                                <figcaption class="name-profile">
                                    <span>Piotr Strugacz<sup>&reg;</sup></span>
                                </figcaption>
                            </figure>
                            <!--End profile image-->
                            {% include 'ClientWebsiteBundle:blocks:navigation.html.twig' %}
                        </div>
                        <!--End main header-->
                        {% set socialSnippet = sulu_snippet_load('d0834aec-2670-4f22-b662-f98fdf83a2b1') %}
                        {% if socialSnippet|default is not empty %}
                            {% include 'ClientWebsiteBundle:blocks:social.html.twig' with {snippets: socialSnippet.content} %}
                        {% endif %}
                    </header>
                    <!--End  header-->
                </div>
                <!--End left content-->
                <!--Right content-->
                <div class="col-md-9 right-content">
                    {% block content %}{% endblock %}
                </div>
                <!--End right content-->
            </div>
            <!--End  row-->
        </div>
        <!--End  container-->
    </div>
    <!--End wrapper-->
    <!--Javascript-->
    {% javascripts
        'https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false'
        '@ClientWebsiteBundle/Resources/public/vendor/jquery-1.11.3.min.js'
        '@ClientWebsiteBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        '@ClientWebsiteBundle/Resources/public/vendor/jquery-migrate-1.2.1.js'
        '@ClientWebsiteBundle/Resources/public/vendor/owl.carousel.js'
        '@ClientWebsiteBundle/Resources/public/vendor/jquery.magnific-popup.js'
        '@ClientWebsiteBundle/Resources/public/vendor/jquery.easytabs.min.js'
        '@ClientWebsiteBundle/Resources/public/vendor/modernizr.js'
        '@ClientWebsiteBundle/Resources/public/vendor/placeholders.min.js'
        '@ClientWebsiteBundle/Resources/public/assets/script/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        (function ($) {
            "use strict";
            $(document).ready(function () {
                var styles = [
                    {
                        stylers: [
                            {saturation: -100}

                        ]
                    }, {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [
                            {hue: "#74b7b0"},
                            {visibility: 'simplified'}
                        ]
                    }, {
                        featureType: 'road',
                        elementType: 'labels',
                        stylers: [
                            {visibility: 'on'}
                        ]
                    }
                ],
                lat = 50.811819,
                lng = 19.120309,
                customMap = new google.maps.StyledMapType(styles, {name: 'Styled Map'}),
                mapOptions = {
                    zoom: 14,
                    scrollwheel: false,
                    disableDefaultUI: true,
                    center: new google.maps.LatLng(lat, lng),
                    mapTypeControlOptions: {
                        mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                    }
                },
                map = new google.maps.Map(document.getElementById('map'), mapOptions),
                myLatlng = new google.maps.LatLng(lat, lng),
                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    icon: {
                        url: 'img/marker.png',
                        scaledSize: new google.maps.Size(26, 42)
                    }
                });
                map.mapTypes.set('map_style', customMap);
                map.setMapTypeId('map_style');
            });
            // End google map location
        })(jQuery);
    </script>
    </body>
</html>