<!--Main title-->
<div class="main-title">
    <h1>education</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content">
        <!--Timeline-->
        <div class="timeline education">
            <!--Row-->
            <div class="row ">
                <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Czestochowa University of Technology, Software Engineering and Operating Systems</h4>
                                <h6><i class="icon-calendar"></i>May 2005 - Sept 2010</h6>
                            </div>
                            <p>
                                Department of Mechanical Engineering and Computer Science,
                                Msc Computer Science.
                            </p>
                        </div>
                        <!--End experience-->
                    </div>
                    <!--End experience holder-->
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End timeline-->
    </div>
    <!--End block content-->
</div>
<!--End content-->
