<!--Main title-->
<div class="main-title">
    <h1>experience</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Timeline-->
        <div class="timeline experience">
            <!--Row-->
            <div class="row ">
                <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>XSolve Sp. z o.o. ​- Senior Software Developer</h4>
                                <h6><i class="icon-calendar"></i>Feb 2013 - <span
                                            class="current">Current</span></h6>
                            </div>
                            <p>Software development. Code quality audits.
                                Implementing continuous integration,
                                doing project versions deployments.
                                Project workshops and communication with clients.
                                Project requirements analysis, creating technical
                                documentation.
                                Project backlog management.
                                Interviewing new software developers.
                            </p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>XSolve Sp. z o.o. - Software Developer</h4>
                                <h6><i class="icon-calendar"></i>Sept 2012 - Nov 2013</h6>
                            </div>
                            <p>Responsible for software development,
                                communication with clients, project requirement analysis and estimations.
                                Writing functional and unit tests. Creating technical documentation.
                                Playing role of team's Scrum master.
                            </p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Trustnet - Software developer</h4>
                                <h6><i class="icon-calendar"></i>May 2010 - Sept 2012</h6>
                            </div>
                            <p>​Responsible for software development. Implementing new features and refactoring company
                                e-commerce platform, cms products. Integrations with external APIs.</p>
                        </div>
                        <!--End experience-->
                    </div>
                    <!--End experience holder-->
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End timeline-->
    </div>
    <!--End block content-->
</div>
<!--End content-->
