<!--Main title-->
<div class="main-title">
    <h1>experience</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Timeline-->
        <div class="timeline experience">
            <!--Row-->
            <div class="row ">
                <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Propertyfinder Group - Technical team lead</h4>
                                <h6><i class="icon-calendar"></i>May 2017 - Present<span
                                            class="current">Current</span></h6>
                            </div>
                            <p>
                                Software development.
                                Leading and mentoring team of developers.
                                Migrating code from legacy code to Symfony 3.
                            </p>
                        </div>
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Propertyfinder Group - Senior software engineer</h4>
                                <h6><i class="icon-calendar"></i>June 2016 - May 2017</h6>
                            </div>
                            <p>
                                Developing real-estate classified platform (15k UU daily).
                                Working with business on implementation of new products and features.
                                Preparing technical requirements and documentation.
                                Assuring quality of delivered code.
                                Refactoring legacy code.
                            </p>
                        </div>
                        <div class="exp">
                            <div class="hgroup">
                                <h4>XSolve Sp. z o.o. ​- Senior Software Developer</h4>
                                <h6><i class="icon-calendar"></i>Feb 2013 - May 2016</h6>
                            </div>
                            <p>Delivering Symfony based web solutions  tailored to clients needs.
                                Leading workshops and planning games with clients.
                                Gathering technical requirements and preparing documentation.
                                Assuring quality of delivered code.
                                Team coaching and mentoring.
                                Running Scrum events.
                            </p>
                        </div>
                        <div class="exp">
                            <div class="hgroup">
                                <h4>XSolve Sp. z o.o. - Software Developer</h4>
                                <h6><i class="icon-calendar"></i>Sept 2012 - Nov 2013</h6>
                            </div>
                            <p>Delivering Symfony based web solutions  tailored to clients needs.
                                Creating technical documentation.
                                Assuring quality of delivered code.
                            </p>
                        </div>
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Trustnet - Software developer</h4>
                                <h6><i class="icon-calendar"></i>May 2010 - Sept 2012</h6>
                            </div>
                            <p>​Responsible for software development. Implementing new features and refactoring company
                                e-commerce platform, cms products. Integrations with external APIs.</p>
                        </div>
                        <!--End experience-->
                    </div>
                    <!--End experience holder-->
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End timeline-->
    </div>
    <!--End block content-->
</div>
<!--End content-->
