<!--Main title-->
<div class="main-title">
    <h1>experience</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Timeline-->
        <div class="timeline experience">
            <!--Row-->
            <div class="row ">
                <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>WebDesigner – Mutation Media </h4>
                                <h6><i class="icon-calendar"></i>Feb 2015 - <span
                                            class="current">Current</span></h6>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                                reprehend
                                incididunt labore
                                et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip
                                ex ea commodo consequat inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Web Developer – Mutation Media </h4>
                                <h6><i class="icon-calendar"></i>Sept 2015 - Nov 2015</h6>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                                reprehend
                                incididunt labore
                                et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip
                                ex ea commodo consequat inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <h4>SDK Developer – Mutation Media </h4>
                                <h6><i class="icon-calendar"></i>May 2015 - Sept 2015</h6>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                                reprehend
                                incididunt labore
                                et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip
                                ex ea commodo consequat inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <!--End experience-->
                    </div>
                    <!--End experience holder-->
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End timeline-->
    </div>
    <!--End block content-->
</div>
<!--End content-->
