<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Map-->
        <div class="block-map">
            <!--Row-->
            <div class="row">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End map-->
    </div>
    <!--End block content-->
</div>