<!--Main title-->
<div class="main-title">
    <h1>professional skills</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content margBMedium">
        <!--Skill design-->
        <div class=" skill des">
            <!--Row-->
            <div class="row ">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Photoshop</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        75%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Illustrator</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        85%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Indesign</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        70%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title des">
                            <span>design</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->

    <!--Block content-->
    <div class="block-content margBMedium">
        <!--Skill design-->
        <div class=" skill dev">
            <!--Row-->
            <div class="row">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Html/css</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        90%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>javascript</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        75%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>php/mysql</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        90%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title dev">
                            <span>Coding </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->


    <!--Block content-->
    <div class="block-content">
        <!--Skill design-->
        <div class=" skill prs">
            <!--Row-->
            <div class="row ">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Responsible</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        85%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Creative</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        75%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Multitasking</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        90%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title prs">
                            <span>assets </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->
</div>
<!--End content-->