<!--Main title-->
<div class="main-title">
    <h1>professional skills</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content margBMedium">
        <!--Skill design-->
        <div class=" skill des">
            <!--Row-->
            <div class="row ">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Symfony2 and Doctrine2</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        75%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>OOP PHP5, PHP7</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        85%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>MySQL</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        80%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Functional and Unit testing</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        70%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Node.js, Frameworks: Express.js, Sails.js</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        65%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title des">
                            <span>backend</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->

    <!--Block content-->
    <div class="block-content margBMedium">
        <!--Skill design-->
        <div class=" skill dev">
            <!--Row-->
            <div class="row">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Html, css, less, bootstrap framework</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        60%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>javascript, angularjs</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        70%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title dev">
                            <span>Frontend </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->

    <!--Block content-->
    <div class="block-content">
        <!--Skill design-->
        <div class=" skill prs">
            <!--Row-->
            <div class="row ">
                <div class="vc">
                    <div class="col-md-11">
                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Problem anticipating and problem solving</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        85%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Committed and ambitious</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        90%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Team player</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        75%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Responsibility</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        90%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>Multitasking</h4>
                                <div class="progress">
                                    <div class="percentage">
                                        80%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="title prs">
                            <span>assets </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End skill design-->
    </div>
    <!--End block content-->
</div>
<!--End content-->