<!--Main title-->
<div class="main-title">
    <h1>services</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Services-->
        <div class="services">
            <!--Row-->
            <div class="row ">
                <!--Block-->
                {#<div class="block service tCenter">#}
                    {#<div class="col-md-4">#}
                        {#<div class="ico">#}
                            {#<i class="icon-lifebuoy"></i>#}
                        {#</div>#}
                        {#<div class="det">#}
                            {#<h3>Great Support</h3>#}
                            {#<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
                                {#accusantium.</p>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-md-4">#}
                        {#<div class="ico">#}
                            {#<i class="icon-print-1"></i>#}
                        {#</div>#}
                        {#<div class="det">#}
                            {#<h3>Print &amp; Branding</h3>#}
                            {#<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
                                {#accusantium.</p>#}
                        {#</div>#}
                    {#</div>#}


                    {#<div class="col-md-4">#}
                        {#<div class="ico">#}
                            {#<i class="icon-megaphone"></i>#}
                        {#</div>#}
                        {#<div class="det">#}
                            {#<h3>Marketing</h3>#}
                            {#<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
                                {#accusantium.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!--End block-->
            </div>
            <!--End row-->

            <!--Row-->
            <div class="row">
                <!--Divider-->
                {% include 'ClientWebsiteBundle:blocks:divider-center-small.html.twig' %}
                <!--End divider-->
            </div>
            <!--End row-->
            <!--Row-->
            <div class="row ">
                <!--Block-->
                <div class="block service tCenter">
                    <div class="col-md-4">
                        <div class="ico">
                            <i class="icon-monitor"></i>
                        </div>
                        <div class="det">
                            <h3>Development</h3>
                            <p>PHP7, Golang, Node.js</p>
                            <p>Symfony4, Zend Framework, Doctrine</p>
                            <p>Elasticsearch, MySQL, MongoDB, Redis, Memcached</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ico">
                            <i class="icon-tools"></i>
                        </div>
                        <div class="det">
                            <h3>Tools</h3>
                            <p>Docker, AWS</p>
                            <p>Travis-ci, Jenkins</p>
                            <p>RabitMQ, PHPUnit, Codeception</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ico">
                            <i class="icon-lamp"></i>
                        </div>
                        <div class="det">
                            <h3>Consulting</h3>
                            <p>Code audits, migrating legacy code.</p>
                            <p>Performance optimization, profiling.</p>
                            <p>Scrum methodology.</p>
                        </div>
                    </div>
                </div>
                <!--End block-->
            </div>
            <!--End row-->
        </div>
        <!--End servcices-->
    </div>
    <!--End block content-->
</div>
<!--End content-->
