<div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
    <ul class="social">
        {#<li><a href="#"><i class="icon-facebook"></i></a></li>#}
        <li><a href="{{ snippets.linkedInUrl }}"><i class="icon-linkedin"></i></a></li>
        <li><a href="{{ snippets.githubUrl }}"><i class="icon-github"></i></a></li>
        <li><a href="{{ snippets.twitterUrl }}"><i class="icon-twitter"></i></a></li>
    </ul>
</div>