<!--Main title-->
<div class="main-title">
    <h1>testimonials</h1>
    {% include 'ClientWebsiteBundle:blocks:divider.html.twig' %}
</div>
<!--End main title-->
<!--Content-->
<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Testimonilas-->
        <div class="testimonials">
            <!--Row-->
            <div class="row ">
                <div class="col-md-12">
                    <!--Slider-->
                    <div class="testi clearfix ">
                        <ul id="testimonial-carousel">
                            <li>
                                <div class="block-quote">
                                    <div class="block-img"><img alt=""
                                                                src="img/testimonial/1.jpg">
                                    </div>
                                    <div class="block-icon"><i class="icon-quote"></i></div>
                                    <h3 class="block-profile">Carlose Smith <span> CEO / Split Inc</span>
                                    </h3>
                                    <blockquote>Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium,
                                        totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae
                                        dicta.
                                    </blockquote>
                                </div>
                            </li>
                            <li>
                                <div class="block-quote">
                                    <div class="block-img"><img alt=""
                                                                src="img/testimonial/2.jpg">
                                    </div>
                                    <div class="block-icon"><i class="icon-quote"></i></div>
                                    <h3 class="block-profile">Carlose Smith<span> CEO / Split Inc</span>
                                    </h3>
                                    <blockquote>Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium,
                                        totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae
                                        dicta.
                                    </blockquote>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End  slider-->
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End testimonials-->
    </div>
    <!--End block content-->
</div>
<!--End content-->